<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <h3>TechnoKraft Training & Solution PVT. LTD.</h3>
        <p>Empowering professionals through innovative technical education and skill development.</p>
      </div>
  
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
  
      <div class="footer-contact">
        <h4>Contact</h4>
        <ul>
          <li><i class="fa-solid fa-phone"></i> +91 98765 43210</li>
          <li><i class="fa-solid fa-envelope"></i> info@technokraft.com</li>
          <li><i class="fa-solid fa-location-dot"></i> Pune, Maharashtra</li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 TechnoKraft Training & Solution Pvt. Ltd. | All Rights Reserved</p>
    </div>
  </footer>
  